
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cssgrid.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<header>
    <div class="nav-wrapper in-block">
        {{!-- <nav class="center">

            <a href="/">HOME</a>
            <a href="/greeted">USERS</a>
            <a href="/admin">ADMIN</a>
        </nav> --}}
    </div>

</header>

<body>
    {{{body}}}
</body>

</html>